rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null
        && request.auth.uid == "TyGIV4xQbESrne5q0FGWO7nqf022";
    }

    match /messages/{messageId} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasOnly([
        'name', 'message', 'hidden', 'approved', 'timestamp'
      ])
      && request.resource.data.name is string
      && request.resource.data.message is string
      && request.resource.data.name.size() >= 2
      && request.resource.data.name.size() <= 50
      && request.resource.data.message.size() >= 1
      && request.resource.data.message.size() <= 300;
      allow update, delete: if isAdmin();
    }

    match /rsvps/{rsvpId} {
      allow create: if request.resource.data.keys().hasOnly([
        'name', 'guests', 'attendance', 'status', 'message', 'timestamp'
      ])
      && request.resource.data.name is string
      && request.resource.data.guests is int
      && request.resource.data.guests >= 1
      && request.resource.data.guests <= 10
      && request.resource.data.status in ['attending', 'declined']
      && request.resource.data.attendance is string
      && request.resource.data.attendance.size() <= 80
      && request.resource.data.message is string
      && request.resource.data.message.size() <= 300;
      allow read, update, delete: if isAdmin();
    }
  }
}
